.col-4 {
    border: 2px solid #e9ecef;
}

.card {
    margin: 0 auto;
    margin-bottom: 30px;
}

body .jumbotron {
    /* background: linear-gradient(to left, #c31432, #240b36); */
    background: linear-gradient(to top, #c31432, #240b36);
    border-radius: initial;
}

.jumbotron h1.display-4 {
    color: #fff;
    font-weight: 400;
}

.jumbotron .lead {
    font-weight: 400;
}

.text-description {
    margin-bottom: 20px;
    text-align: center;
}

footer {
    background: linear-gradient(to right, #c31432, #240b36);
    padding: 30px 40px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer div address {
    text-align: center;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

main .container .cards-hoteles-container .btn {
    background: #290b36;
    border-color: initial;
    border-radius: 12px;
}

main .container .cards-hoteles-container .btn:hover {
    background: #e23237;
}

.header-main nav .logo-page img {
    width: 160px;
}

.header-main .bg-keloke {
    background: #240b36;
}

.header-main .navbar .navbar-nav .nav-item a {
    font-size: 1.1rem;
}

.header-main nav .sections-page {
    text-align: center;
}

.address-company .address-icon {
    font-size: 1.3rem;
    margin-right: 8px;
    color: #260b36;
}

.card .reserva-icon {
    padding-left: 26px;
    color: #fff;
}

.section-form .form-contact .btn-contact {
    color: #fff;
    background: #e23237;
}

.section-form .form-contact .btn-contact:hover {
    color: #fff;
    background: #741034;
}

.section-form .contact-us {
    color: #9b1233;
    font-weight: bold;
}

table .thead-main {
    background: #240b36;
    color: #fff;
}

.section-cards-hotels .card .badge {
    border: 1px solid black;
}

.section-cards-hotels .card .badge-main {
    background: #e23237;
    padding: 4px 8px;
    color: #fff;
    cursor: pointer;
}

.card-header-title {
    background: #240b36;
    color: #fff;
}


/* .carousel-imgs {
    margin-bottom: 40px;
} */


/* .carousel-imgs figure {
    width: 100%;
    height: 400px;
} */


/* .carousel-imgs figure .img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 40%;
    filter: drop-shadow(2px 4px 6px black);
} */


/*CAROUSEL*/

.section-carousel-hotels .carousel {
    margin-bottom: 40px;
}

.section-carousel-hotels .carousel .carousel-item img {
    max-height: 70vh;
    object-fit: cover;
    object-position: 0 20%;
}

.carousel-indicators li {
    width: 40px;
    height: 8px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 32px;
    height: 32px;
}


/* /CAROUSEL*/

.tabs-page-prices {
    margin-bottom: 40px;
}

.tabs-page-prices .nav-item {
    background: #5c3c72;
    margin-right: 8px;
    border-radius: .25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #240b36;
}

.tabs-page-prices .nav-item a {
    color: #fff;
}

.buttons-collapse {
    text-align: center;
    margin-bottom: 30px;
}

main .breadcrumb-main {
    margin-bottom: 30px;
}

.frequent-questions .btn-color-main {
    background: #e23237;
    color: #fff;
}

#keloke-realtrap div {
    position: relative;
}

.myaccordion .card-header .btn-link {
    font-size: 1.3rem;
    color: #fff;
}

.myaccordion .card-header .btn-link:hover {
    text-decoration: none;
    color: #ff9090;
}

.myaccordion .card-header {
    background: #580e35;
}

.tooltip-inner {
    background: #e23237;
}

.popover-header {
    background-color: #841033;
    color: #fff;
}

.popover-body {
    color: #240b36;
    background: #dee2e6;
}