$color-base:#e23237;
$color-secundary:#240b36;
$color-white:#fff;
$color-white-2: #e9ecef;
$dull-purple:#5c3c72;
$cool-purple:#480a76;
$color-marron:#580e35;
$color-gray:#dee2e6;
$color-pink:#ff9090;
$color-black:#000;
@mixin margenes($top, $rigth, $bottom, $left) {
    margin: $top $rigth $bottom $left;
}

.col-4 {
    border: 2px solid $color-white-2;
}

.card {
    margin: 0 auto;
    margin-bottom: 30px;
}

body .jumbotron {
    background: linear-gradient(to top, $color-base, $color-secundary);
    border-radius: initial;
}

.jumbotron h1.display-4 {
    color: $color-white;
    font-weight: 400;
}

.jumbotron .lead {
    font-weight: 400;
}

.text-description {
    margin-bottom: 20px;
    text-align: center;
}

footer {
    background: linear-gradient(to right, $color-base, $color-secundary);
    padding: 30px 40px;
}

footer a {
    text-decoration: none;
    color: $color-white;
}

footer div address {
    text-align: center;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

main .container .cards-hoteles-container .btn {
    background: $cool-purple;
    border-color: initial;
    border-radius: 12px;
}

main .container .cards-hoteles-container .btn:hover {
    background: $color-base;
}

.header-main nav .logo-page img {
    width: 160px;
}

.header-main .bg-keloke {
    background: $color-secundary;
}

.header-main .navbar .navbar-nav .nav-item a {
    font-size: 1.1rem;
}

.header-main nav .sections-page {
    text-align: center;
}

.address-company .address-icon {
    font-size: 1.3rem;
    margin-right: 8px;
    color: $color-marron;
}

.card .reserva-icon {
    padding-left: 26px;
    color: $color-white;
}

.section-form .form-contact .btn-contact {
    color: $color-white;
    background: $color-base;
}

.section-form .form-contact .btn-contact:hover {
    color: $color-white;
    background: $dull-purple;
}

.section-form .contact-us {
    color: $color-marron;
    font-weight: bold;
}

table .thead-main {
    background: $color-secundary;
    color: $color-white;
}

.section-cards-hotels .card .badge {
    border: 1px solid $color-black;
}

.section-cards-hotels .card .badge-main {
    background: $color-base;
    padding: 4px 8px;
    color: $color-white;
    cursor: pointer;
}

.card-header-title {
    background: $color-secundary;
    color: $color-white;
}

.section-carousel-hotels .carousel {
    margin-bottom: 40px;
}

.section-carousel-hotels .carousel .carousel-item img {
    max-height: 70vh;
    object-fit: cover;
    object-position: 0 20%;
}

.carousel-indicators li {
    width: 40px;
    height: 8px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 32px;
    height: 32px;
}

.tabs-page-prices {
    margin-bottom: 40px;
}

.tabs-page-prices .nav-item {
    background: $dull-purple;
    margin-right: 8px;
    border-radius: .25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: $color-secundary;
}

.tabs-page-prices .nav-item a {
    color: $color-white;
}

.buttons-collapse {
    text-align: center;
    // margin-bottom: 30px;
    @include margenes(0, 0, 30px, 0)
}

main .breadcrumb-main {
    margin-bottom: 30px;
}

.frequent-questions .btn-color-main {
    background: $color-base;
    color: $color-white;
}

#keloke-realtrap div {
    position: relative;
}

.myaccordion .card-header .btn-link {
    font-size: 1.3rem;
    color: $color-white;
}

.myaccordion .card-header .btn-link:hover {
    text-decoration: none;
    color: $color-pink;
}

.myaccordion .card-header {
    background: $color-marron;
}

.tooltip-inner {
    background: $color-base;
}

.popover-header {
    background-color: $color-marron;
    color: $color-white;
}

.popover-body {
    color: $color-secundary;
    background: $color-gray;
}